footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 90%;
    margin: 0 auto;
}

/* REDES SOCIAIS */
.container-redes {
    margin-top: 6px;

    text-align: center;
}

.rede-sociais {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-top: 10px;
}

.criador {
    align-self: end;
}